body {
  background-color: gray;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  margin: 0 auto;
}

button {
  display: block;
  margin: 0 auto;
}

.race-card {
  background-color: lightcoral; 
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.class-card {
  background-color: lightblue; 
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px; 
}

.hidden {
  display: none;
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#modal.open {
  display: flex;
}

#modal > * {
  background-color: #fff;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  #card-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  #card-container {
    grid-template-columns: 1fr; 
  }
}