.race-card {
  background-color: #ccc; /* grey background */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns, equal width */
  grid-gap: 20px; /* gap between cards */
}

.hidden {
  display: none;
}

/* Add this to your CSS */
#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#modal.open {
  display: flex;
}

#modal > * {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  #card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
}

@media (max-width: 480px) {
  #card-container {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}